/*
	*Material Design Typography
*/

/*
	*A simple style sheet that deals only with typography 
	*following Google's Material Design guidelines
*/

/***** !! Warning !! *****
***** For Font-weights to work you must use fonts that include the different weights
*/

/*
	* Edit these to suit your needs
*/

/*/Font Size -Default*/

$fontsize-default:16px;

/*/Font Size - Fine Control*/

$fontsize-mobile:$fontsize-default;
 $fontsize-tablet:$fontsize-default;
 $fontsize-desktop:$fontsize-default;

/*/Colors - Default*/

$default-text-color:#000;

/*/Colors - Fine Control*/

$display4-color:$default-text-color;
 $display3-color:$default-text-color;
 $display2-color:$default-text-color;
 $display1-color:$default-text-color;
 $headline-color:$default-text-color;
 $title-color:$default-text-color;
 $subhead-color:$default-text-color;
 $body2-color:$default-text-color;
 $body1-color:$default-text-color;
 $caption-color:$default-text-color;
 $menu-color:$default-text-color;
 $button-color:$default-text-color;
//Color - lighten
$display-lighten:46%;
 $title-lighten:13%;
 $body-lighten:13%;
 $caption-lighten:46%;
//Tracking / Line - Spacing
 $display4-tracking:-10pt;//no
 $display3-tracking:-5pt;
 $display2-tracking:0;
 $display1-tracking:0;
 $headline-tracking:0;
 $title-tracking:5pt;
 $subhead-tracking:10pt;
 $body-tracking:10pt;
 $caption-tracking:20pt;
 $menu-tracking:10pt;
 $button-tracking:10pt;
//button - style
 $button-trans:uppercase;

/*
 	*Material Design Styles below 
*/

/*
 	*Mobile Styles
*/

body {
 font-size: $fontsize-mobile;
 color: $default-text-color;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
 body {
  font-size: $fontsize-tablet;
 }
}
h1 {
 font-size: 7em;
 font-weight: 100;
 letter-spacing: $display4-tracking;
 color: lighten($display4-color, $display-lighten);
}
.mat-type-display4 {
 font-size: 7em;
 font-weight: 100;
 letter-spacing: $display4-tracking;
 color: lighten($display4-color, $display-lighten);
}
h2 {
 font-size: 3.5em;
 font-weight: 400;
 letter-spacing: $display3-tracking;
 color: lighten($display3-color, $display-lighten);
}
.mat-type-display3 {
 font-size: 3.5em;
 font-weight: 400;
 letter-spacing: $display3-tracking;
 color: lighten($display3-color, $display-lighten);
}
h3 {
 font-size: 280%;
 font-weight: 400;
 line-height: 48pt;
 letter-spacing: $display2-tracking;
 color: lighten($display2-color, $display-lighten);
}
.mat-type-display2 {
 font-size: 2.8em;
 font-weight: 400;
 line-height: 48pt;
 letter-spacing: $display2-tracking;
 color: lighten($display2-color, $display-lighten);
}
h4 {
 font-size: 2.1em;
 font-weight: 400;
 line-height: 40pt;
 letter-spacing: $display1-tracking;
 color: lighten($display1-color, $display-lighten);
}
.mat-type-display1 {
 font-size: 2.1em;
 font-weight: 400;
 line-height: 40pt;
 letter-spacing: $display1-tracking;
 color: lighten($display1-color, $display-lighten);
}
h5 {
 font-size: 1.5em;
 font-weight: 400;
 line-height: 32pt;
 letter-spacing: $headline-tracking;
 color: lighten($headline-color, $body-lighten);
}
.mat-type-headline {
 font-size: 1.5em;
 font-weight: 400;
 line-height: 32pt;
 letter-spacing: $headline-tracking;
 color: lighten($headline-color, $body-lighten);
}
h6 {
 font-size: 1.25em;
 font-weight: 500;
 //line-height: 32pt;
 letter-spacing: $title-tracking;
 color: lighten($title-color, $title-lighten);
}
.mat-type-title {
 font-size: 1.25em;
 font-weight: 500;
 //line-height: 32pt;
 letter-spacing: $title-tracking;
 color: lighten($title-color, $title-lighten);
}
.mat-type-subhead {
 font-size: 1em;
 font-weight: 400;
 line-height: 24pt;
 letter-spacing: $subhead-tracking;
 color: lighten($subhead-color, $body-lighten);
}
.mat-type-subhead1 {
 font-size: 1em;
 font-weight: 400;
 line-height: 24pt;
 letter-spacing: $subhead-tracking;
 color: lighten($subhead-color, $body-lighten);
}
.mat-type-subhead2 {
 font-size: 1em;
 font-weight: 400;
 line-height: 28pt;
 letter-spacing: $subhead-tracking;
 color: lighten($subhead-color, $body-lighten);
}
p {
 font-size: 0.88em;
 font-weight: 300;
 line-height: 20pt;
 letter-spacing: $body-tracking;
 color: lighten($body1-color, $body-lighten);
}
.mat-type-body {
 font-size: 0.88em;
 font-weight: 300;
 line-height: 20pt;
 letter-spacing: $body-tracking;
 color: lighten($body1-color, $body-lighten);
}
.mat-type-body2 {
 font-size: 0.88em;
 font-weight: 300;
 line-height: 24pt;
 letter-spacing: $body-tracking;
 color: lighten($body2-color, $body-lighten);
}
.mat-type-body1 {
 font-size: 0.88em;
 font-weight: 300;
 line-height: 20pt;
 letter-spacing: $body-tracking;
 color: lighten($body1-color, $body-lighten);
}
.mat-type-caption {
 font-size: 0.75em;
 font-weight: 300;
 letter-spacing: $caption-tracking;
 color: lighten($caption-color, $caption-lighten);
}
.mat-type-menu {
 font-size: 0.88em;
 font-weight: 400;
 letter-spacing: $menu-tracking;
 color: lighten($menu-color, $body-lighten);
}
button {
 font-size: 0.88em;
 font-weight: 400;
 text-transform: $button-trans;
 letter-spacing: $button-tracking;
 color: lighten($button-color, $body-lighten);
}
.mat-type-button {
 font-size: 0.88em;
 font-weight: 400;
 text-transform: $button-trans;
 letter-spacing: $button-tracking;
 color: lighten($button-color, $body-lighten);
}
@media screen and (min-width: 992px) {
 body {
  font-size: $fontsize-desktop;
 }
 .mat-type-subhead {
  font-size: 0.94em;
 }
 .mat-type-subhead1 {
  font-size: 0.94em;
 }
 .mat-type-subhead2 {
  font-size: 0.94em;
 }
 p {
  font-size: 0.81em;
 }
 .mat-type-body {
  font-size: 0.81em;
 }
 .mat-type-body2 {
  font-size: 0.81em;
 }
 .mat-type-body1 {
  font-size: 0.81em;
 }
 .mat-type-menu {
  font-size: 0.81em;
 }
}

