<navbar></navbar>
<content-nav></content-nav>
<div class="content-background">
    <div class="container-fluid">
        
        <hr/>
        <div class="row">


            
            <div>
                <div class=" col-md-4 col-md-offset-4">
                    <iframe class="reel-shadow" src="//player.vimeo.com/video/71605010" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>

            
        </div>

        <div id="acting-info" class="acting-content">
            <div class="col-md-4">
                <headshot id="headshot"></headshot>
            </div>
            <div class="col-md-8">
                <resume id="resume"></resume>
            </div>
            

        </div>

        <footer class="footer">
            <div class="container">
                <p></p>
            </div>
        </footer>
    </div>
</div>
