<div id="gallery" class="gallery gallerybg" ng-controller="GalleryCtrl" ng-init="loadFeed();">
    <div>
        
        <div deckgrid class="deckgrid" source="feeds">

            <div class="a-card">
                <div ng-controller="CardCtrl">
                    <div ng-init="loadImage(card)" class="loader-gif">
                        <img ng-click="expandImage(animateImage)" class="img-responsive" ng-class="{'img-thumbnail': !animateImage, 'expand-img': animateImage}" src="" alt="image/gif/circle-loader.gif" ng-src="{{imageUrl}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
