<div id="gallery" class="gallery gallerybg" ng-controller="GalleryCtrl" ng-init="loadFeed(event)">    
    <div>
        <div class="tile" ng-repeat="feed in feeds | filter:filterText">
            <div ng-repeat="content in feed.mediaGroups">
                <ul>
                    <li ng-repeat="content in content.contents">
                        <img class="img img-thumbnail" ng-src="{{content.url}}" alt="">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
