<nav id="nav-top" class="navbar navbar-default navbar-fixed-top inner_shadow hidden-xs" role="navigation" ng-init="$scope.navRoute = $state">
    <div class="container-fluid">
        <div class="red-blue-gradient top-line"></div>
        <ul class="nav navbar-nav navbar-left ackw-nav">
            <li class="logo" ui-route="#/" class="v-middle img-circle">
                <a ng-href="#/">
                    <img class="img-responsive img-rounded logo-img" src="images/ackw_logo.png" alt="logo">
                </a>
            </li>
            <li ui-route="#/" ng-model="current.home" ng-class="{active: current.home}" class="v-bottom nav-shadow hidden-xs">
                <a id="ackw" class="ackw-header" ng-href="#home">
                    <h3>Alexander Kushi-Willis</h3>
                </a>
            </li>
            <li ui-route="#/acting" ng-model="current.acting" ng-class="{active: current.acting}" class="v-bottom nav-shadow"><a class="" ng-href="#/acting"><b><h4>Acting</h4></b></a>
            </li>
            <li ui-route="#/art" ng-model="current.art" ng-class="{active: current.art}" class="v-bottom nav-shadow"><a class="" ng-href="#/art"><b><h4>Art</h4></b></a>
            </li>
        </ul>      

        <ul class="nav navbar-nav navbar-right social-bar list-inline hidden-sm hidden-xs ackw-nav">

            <li>
                <a href="https://plus.google.com/u/0/115943876575256176275" class="googleplus social-btn">
                    <img class="img-thumbnail img-responsive img-circle" src="images/icon/google.png" alt="Google+">
                </a>
            </li>
            <li>
                <a href="http://www.instagram.com/ackushiw" class="instagram social-btn">
                    <img class="img-thumbnail img-responsive img-circle" src="images/icon/instagram.png" alt="Instagram">
                </a>
            </li>
            <li>
                <a href="http://www.facebook.com/ackushiw" class="facebook social-btn">
                    <img class="img-thumbnail img-responsive img-circle" src="images/icon/facebook.png" alt="Facebook">
                </a>
            </li>
            <li>
                <a href="http://www.linkedin.com/pub/alexander-kushi-willis/27/205/6a6" class="linkedin social-btn">
                    <img class="img-thumbnail img-responsive img-circle" src="images/icon/linkedin.png" alt="LinkedIn">
                </a>
            </li>
            <li>
                <a href="http://www.twitter.com/ackushiw" class="twitter social-btn">
                    <img class="img-thumbnail img-responsive img-circle" src="images/icon/twitter.png" alt="Twitter">
                </a>
            </li>

        </ul>

    </div>
</nav>

<nav class="navbar-fixed-top visible-xs"><div class="red-blue-gradient top-line"></div></nav>


<nav id="nav-bottom" class="nav navbar navbar-inverse navbar-fixed-bottom visible-xs" role="navigation">
    <!-- /.bottom nav -->
    <div class="red-blue-gradient top-line inner-shadow"></div>
    <div class="navbar-inner darkhex">
        <div>
            <div id="ackw-draw" class="collapse">
                <ul class="nav navbar-nav nav-pills ackw-phone" id="myTab">                    
                    <li ui-route="#/acting"><a class="" ng-href="#/acting">Acting</a>
                    </li>
                    <li ui-route="#/art"><a class="" ng-href="#/art">Art</a>
                    </li>
                    <li ui-route="#/" class="hidden"><a class="" ng-href="#social" data-toggle="tab">Interests</a>
                    </li>
                    <li ui-route="#/" class="hidden"><a class="" ng-href="#connect" data-toggle="tab">Social</a>
                    </li>
                    <li ui-route="#/" class="hidden"><a class="" ng-href="#ackw1" data-toggle="tab">About</a>
                    </li>
                </ul>
            </div>



            <div id="ackw-bottom"></div>
            <ul class="nav navbar-nav  col-xs-10">
                <li ui-route="#/" class="ackw-phone"><a ng-href="#/" class="brand ackw-header">Alexander Kushi-Willis</a>
                </li>
            </ul>


            <ul class="nav navbar-nav navbar-right draw-btn">
                <li>
                    <button type="button" class="btn btn-default btn-info navbar-toggle" data-toggle="collapse" data-target="#ackw-draw">
                        More
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
