<p>This is the resume view.</p>
<div id="acting-resume">
    <div id="acting-resume" class="phone-resume">
        <!-- ajax insert -->
        <div class="panel-group" id="accordion">
            <!-- main accordion -->
            <div class="panel panel-default resume-stats">
                <!-- stats -->
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseStats">
          					Alexander Kushi-Willis
        				</a>
                    </h4>
                </div>
                <div id="collapseStats" class="panel-collapse collapse in">

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <p>Hair: Dark Brown</p>
                            </div>
                            <div class="col-xs-6">
                                <p>Height: 5' 10"</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <p>Eyes: Dark Hazel</p>
                            </div>
                            <div class="col-xs-6">
                                <p>Weight: 145lb</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./stats -->
            <div class="panel panel-default resume-theatre">
                <!-- theatre -->
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTheatre">
        Theatre
        </a>
                    </h4>
                </div>
                <div id="collapseTheatre" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="panel-group" id="theatre-accordion">
                            <!-- theatre accordion -->

                            <div class="panel panel-default">
                                <div class="heading">
                                    <a class="panel-toggle" data-toggle="collapse" data-parent="#theatre-accordion" href="#collapseBazaar">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <p>Bazaar Noir
                                                </p>
                                            </div>
                                            <div class="col-xs-4">
                                                <p>The Riddler
                                                </p>
                                            </div>
                                            <div class="col-xs-4">
                                                <p>Jesse Patch, Dir
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div id="collapseBazaar" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>A Bazaar Experience
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="heading">
                                    <a class="panel-toggle" data-toggle="collapse" data-parent="#theatre-accordion" href="#collapseEd">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <p>Edward Scrssorhands
                                                </p>
                                            </div>
                                            <div class="col-xs-4">
                                                <p>Edward
                                                </p>
                                            </div>
                                            <div class="col-xs-4">
                                                <p>Richard Crawford
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div id="collapseEd" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>An off off Broadway stage adaptation of the classic movie
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="heading">

                                    <a data-toggle="collapse" data-parent="#theatre-accordion" href="#collapseDouble">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <p>Double Falsehood
                                                </p>
                                            </div>
                                            <div class="col-xs-4">
                                                <p>Julio
                                                </p>
                                            </div>
                                            <div class="col-xs-4">
                                                <p>Ron Song Destro
                                                </p>
                                            </div>
                                        </div>
                                    </a>

                                </div>
                                <div id="collapseDouble" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>US premier of double falsehood, a play attributed to William Shakespeare
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="heading">

                                    <a data-toggle="collapse" data-parent="#theatre-accordion" href="#collapseComEr">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <p>The Comedy of Errors
                                                </p>
                                            </div>
                                            <div class="col-xs-4">
                                                <p>Antipholus of Ephesus
                                                </p>
                                            </div>
                                            <div class="col-xs-4">
                                                <p>Ron Song Destro
                                                </p>
                                            </div>
                                        </div>
                                    </a>

                                </div>
                                <div id="collapseComEr" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>A BoAr Production
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="heading">

                                    <a data-toggle="collapse" data-parent="#theatre-accordion" href="#collapseLLL">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <p>Love's Labour's Lost
                                                </p>
                                            </div>
                                            <div class="col-xs-4">
                                                <p>Berowne
                                                </p>
                                            </div>
                                            <div class="col-xs-4">
                                                <p>Ron Song Destro
                                                </p>
                                            </div>
                                        </div>
                                    </a>

                                </div>
                                <div id="collapseLLL" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <!--  -->
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="heading">
                                    <a class="panel-toggle" data-toggle="collapse" data-parent="#theatre-accordion" href="#collapseMac">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <p>Macbeth
                                                </p>
                                            </div>
                                            <div class="col-xs-4">
                                                <p>Malcolm
                                                </p>
                                            </div>
                                            <div class="col-xs-4">
                                                <p>Vasile Nedelcu
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div id="collapseMac" class="panel-collapse collapse">
                                    <div class="panel-body">

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="heading">
                                    <a class="panel-toggle" data-toggle="collapse" data-parent="#theatre-accordion" href="#collapseShrew">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <p>The Taming of the Shrew
                                                </p>
                                            </div>
                                            <div class="col-xs-4">
                                                <p>Tranio
                                                </p>
                                            </div>
                                            <div class="col-xs-4">
                                                <p>Danielle Gaillemain
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div id="collapseShrew" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>A midsummer open-air production
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="heading">
                                    <a class="panel-toggle" data-toggle="collapse" data-parent="#theatre-accordion" href="#collapseRomeo">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <p>Romeo and juliet
                                                </p>
                                            </div>
                                            <div class="col-xs-4">
                                                <p>Romeo
                                                </p>
                                            </div>
                                            <div class="col-xs-4">
                                                <p>Sven Saar
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div id="collapseRomeo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>A Touring Production, peformed in England, Paris, and Basel
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- ./theatre accordion -->
                    </div>
                </div>
            </div>
            <!-- ./theatre -->
            <div class="panel panel-default resume-film">
                <!-- Film and TV -->

                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFilm">
          Film and TV
        </a>
                    </h4>
                </div>
                <div id="collapseFilm" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="panel panel-default">
                            <div class="heading">
                                <a class="panel-toggle" data-toggle="collapse" data-parent="#film-accordion" href="#collapseRelease">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <p>Release You
                                            </p>
                                        </div>
                                        <div class="col-xs-4">
                                            <p>Lake Ghost
                                            </p>
                                        </div>
                                        <div class="col-xs-4">
                                            <p>Jessica Burgess, Dir
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div id="collapseRelease" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="heading">
                                <a class="panel-toggle" data-toggle="collapse" data-parent="#film-accordion" href="#collapseHardtimes">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <p>Hard Times
                                            </p>
                                        </div>
                                        <div class="col-xs-4">
                                            <p>Tiko
                                            </p>
                                        </div>
                                        <div class="col-xs-4">
                                            <p>Matthew Glasson
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div id="collapseHardtimes" class="panel-collapse collapse">
                                <div class="panel-body">

                                    <iframe src="//player.vimeo.com/video/43366758" width="500" height="281" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                                    <p><a href="http://vimeo.com/43366758">HARD TIMES (Short, 2012)</a> from <a href="http://vimeo.com/mattglasson">Matthew Glasson</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                                    <p>A 48 hour film festival production
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="heading">

                                <a data-toggle="collapse" data-parent="#film-accordion" href="#collapseNomwah">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <p>Nom Wah
                                            </p>
                                        </div>
                                        <div class="col-xs-4">
                                            <p>Kenichi
                                            </p>
                                        </div>
                                        <div class="col-xs-4">
                                            <p>Kevin Foong
                                            </p>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div id="collapseNomwah" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="heading">

                                <a data-toggle="collapse" data-parent="#film-accordion" href="#collapseBurn">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <p>Burning Man
                                            </p>
                                        </div>
                                        <div class="col-xs-4">
                                            <p>Man in White
                                            </p>
                                        </div>
                                        <div class="col-xs-4">
                                            <p>Arin Crumley
                                            </p>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div id="collapseBurn" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>A documentary about burning man
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="heading">

                                <a data-toggle="collapse" data-parent="#film-accordion" href="#collapseOnway">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <p>On the Way to Heaven
                                            </p>
                                        </div>
                                        <div class="col-xs-4">
                                            <p>Steven
                                            </p>
                                        </div>
                                        <div class="col-xs-4">
                                            <p>Motomu Ishigaki
                                            </p>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div id="collapseOnway" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <!--  -->
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="heading">
                                <a class="panel-toggle" data-toggle="collapse" data-parent="#film-accordion" href="#collapsePbrothel">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <p>Ep. 11 Poetry Brothel
                                            </p>
                                        </div>
                                        <div class="col-xs-4">
                                            <p>The Outsider
                                            </p>
                                        </div>
                                        <div class="col-xs-4">
                                            <p>Radar (WBP Labs)
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div id="collapsePbrothel" class="panel-collapse collapse">
                                <div class="panel-body">

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <!-- Film and TV -->
            <div class="panel panel-default resume-ad">
                <!-- Commercial -->

                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseAd">
          Commercial
        </a>
                    </h4>
                </div>
                <div id="collapseAd" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="panel panel-default">
                            <div class="heading">
                                <a class="panel-toggle" data-toggle="collapse" data-parent="#ad-accordion" href="#collapseLenovo">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <p>Lenovo
                                            </p>
                                        </div>
                                        <div class="col-xs-4">
                                            <p>
                                            </p>
                                        </div>
                                        <div class="col-xs-4">
                                            <p>Michel Leroy, Dir
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div id="collapseLenovo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <iframe src="//player.vimeo.com/video/71605010" width="500" height="281" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                                    <p><a href="http://vimeo.com/71605010">LENOVO S6000 - Movie and Entertainment Tablet Global Ad Campaign</a> from <a href="http://vimeo.com/michelleroy">Michel Leroy</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="heading">
                                <a class="panel-toggle" data-toggle="collapse" data-parent="#ad-accordion" href="#collapseJam">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <p>Spread the Jam
                                            </p>
                                        </div>
                                        <div class="col-xs-4">
                                            <p>
                                            </p>
                                        </div>
                                        <div class="col-xs-4">
                                            <p>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div id="collapseJam" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>
                                    </p>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
            <!-- Commercial-->
            <div class="panel panel-default resume-aada">
                <!-- AADA -->

                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseAADA">
          Conservatory Theatre, AADA New York City
        </a>
                    </h4>
                </div>
                <div id="collapseAADA" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="panel panel-default">
                            <div class="heading">
                                <a class="panel-toggle" data-toggle="collapse" data-parent="#aada-accordion" href="#collapseHabeas">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <p>Habeas Corpus
                                            </p>
                                        </div>
                                        <div class="col-xs-4">
                                            <p>Canon Throbbing
                                            </p>
                                        </div>
                                        <div class="col-xs-4">
                                            <p>Bernie Sheredy, Dir
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div id="collapseHabeas" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="heading">
                                <a class="panel-toggle" data-toggle="collapse" data-parent="#aada-accordion" href="#collapseTriumph">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <p>The Triumph of Love
                                            </p>
                                        </div>
                                        <div class="col-xs-4">
                                            <p>Harlequin
                                            </p>
                                        </div>
                                        <div class="col-xs-4">
                                            <p>William Koch
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div id="collapseTriumph" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>A 48 hour film festival production
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="heading">

                                <a data-toggle="collapse" data-parent="#aada-accordion" href="#collapseStjoan">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <p>Saint Joan
                                            </p>
                                        </div>
                                        <div class="col-xs-4">
                                            <p>Charles
                                            </p>
                                        </div>
                                        <div class="col-xs-4">
                                            <p>Janis Powell
                                            </p>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div id="collapseStjoan" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="heading">

                                <a data-toggle="collapse" data-parent="#aada-accordion" href="#collapseRevel">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <p>Scenes and Revelations
                                            </p>
                                        </div>
                                        <div class="col-xs-4">
                                            <p>Dennis
                                            </p>
                                        </div>
                                        <div class="col-xs-4">
                                            <p>Barbara Rubin
                                            </p>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div id="collapseRevel" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>A documentary about burning man
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="heading">

                                <a data-toggle="collapse" data-parent="#aada-accordion" href="#collapseTodd">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <p>The Runner Stumbles
                                            </p>
                                        </div>
                                        <div class="col-xs-4">
                                            <p>Monsignor
                                            </p>
                                        </div>
                                        <div class="col-xs-4">
                                            <p>Todd Peters
                                            </p>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div id="collapseTodd" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <!--  -->
                                </div>
                            </div>
                        </div>

                        <!-- ./aada-accordion -->
                    </div>
                </div>
            </div>
            <!-- ./AADA -->
            <div class="panel panel-default resume-training">
                <!-- training -->

                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTrain">
          Training
        </a>
                    </h4>
                </div>
                <div id="collapseTrain" class="panel-collapse collapse">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <!-- ./training -->
            <div class="panel panel-default resume-skills">
                <!-- skills -->

                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSkill">
          Skills
        </a>
                    </h4>
                </div>
                <div id="collapseSkill" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>Dialects &amp; Accents (trained in IPA). Stage make-up. Confident Singer</li>
                            <li>Martial Arts; Capoeira, Aikido, Bokkendo, Jodo (short staff), Archery, Horse Archery</li>
                            <li>Advanced experiemental Movement: Viewpoints, Lecoq, Eurythmy, Bothmer Gym.</li>
                            <li>Stage combat: fencing, Japanese stick fighting, hand-to-hand combat, basic Choreography.</li>
                            <li>Drawing &amp; Painting, Surfing, Advanced Driving (manual), Juggling (balls &amp; Clubs).</li>
                            <li>I have a driver's license, plus US &amp; UK passports</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- ./main accordion -->


            <!-- ./ajax insert -->


        </div>
